@import '../../index.scss';
@import '../../mixins.scss';

.home__container {
  background-color: $color-dark;
}

.header__container {
  position: relative;
}

// NAVIGATION

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding-medium $padding-semi;
  background-color: $color-primary;
  filter: drop-shadow(0.15rem 0.15rem 0.55rem $color-black);
  top: 1rem;
  position: sticky;
  z-index: 3;
  transition: all 0.5s ease-in-out;

  &-username {
    font-size: $font-medium;
    font-weight: $font-default;
    color: $color-gray;
    letter-spacing: $letter-small;
    word-spacing: $word-medium;

    span {
      font-size: $font-semi;
      color: $color-dark;
      font-weight: $font-semi-bold;
      letter-spacing: $letter-small;
    }
  }

  &-menu {
    display: none;
    margin-left: 34.25rem;

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      color: $color-gray;
      font-size: 2.75rem;
      transition: color 0.35s;

      &:hover {
        color: $color-white;
      }
    }
  }

  &-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
}

// NAVIGATION CHANGE ON SCROLL

.nav__container-scrolled {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding-medium $padding-semi;
  filter: drop-shadow(0.15rem 0.15rem 0.55rem $color-black);
  top: 1rem;
  position: sticky;
  z-index: 3;
  background-color: $color-secondary;
  opacity: 0.925;
  transition: all 0.5s ease-in-out;
}

// HERO SECTION

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.4rem;
  padding: $padding-big;
  background-image: url(../../images/home-bg.jpg);
  width: 100%;
  height: 80rem;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
  overflow: hidden;

  &-about {
    display: flex;
    flex: 0 0 45%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.65rem;

    &-title {
      color: $color-primary;
      font-size: $font-extra-big;
      font-weight: $font-semi-bold;
      letter-spacing: $letter-small;
      word-spacing: $word-medium;

      span {
        color: $color-white;
        font-size: calc(#{$font-extra-big} / 1.2);
        font-weight: $font-default;
        letter-spacing: $letter-medium;
        word-spacing: $word-medium;
      }
    }

    &-subtitle {
      font-size: calc(#{$font-big} / 1.25);
      width: 60.5rem;
      line-height: 1.5;
      letter-spacing: $letter-small;
      word-spacing: $word-small;
      color: $color-white;
      font-weight: $font-default;

      span {
        color: $color-primary;
        font-weight: $font-semi-bold;
        font-size: $font-medium;
      }
    }
  }

  &-cta {
    display: flex;
    flex: 0 0 55%;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      border: none;
      outline: none;
      cursor: pointer;
      width: 30rem;
      padding: $padding-small $padding-semi;
      background-color: $color-btn-primary;
      color: $color-white;
      font-size: $font-medium;
      letter-spacing: $letter-medium;
      word-spacing: $word-big;
      border-radius: $border-rounded-extra-small;
      filter: drop-shadow(0 0 0.35rem $color-black);

      &:hover {
        background-color: $color-secondary;
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 7.5rem;
    top: 97%;
    left: 0;
    background: $color-dark;
    box-shadow: 0.5rem 0.5rem 15.5rem 17.5rem $color-dark;
  }
}

// SECTION NOTE

.section__note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.4rem;
  width: 100%;
  margin: 4rem 0 15rem 0;

  &-title {
    font-size: $font-semi;
    color: $color-white;
    width: 55rem;
    line-height: 1.5;
    font-weight: $font-default;
    letter-spacing: $letter-small;
    word-spacing: $word-medium;

    span {
      color: $color-primary;
      font-style: italic;
      font-weight: $font-bold;
      padding-right: $padding-small;
      letter-spacing: $letter-medium;
    }
  }

  &-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    &-login,
    &-create {
      background-color: $color-btn-primary;
      cursor: pointer;
      width: 26rem;
      padding: $padding-extra-small 0;
      color: $color-white;
      font-size: 1.75rem;
      letter-spacing: $letter-medium;
      word-spacing: $word-small;
      border: none;
      outline: none;
      border-radius: $border-rounded-extra-small;
      filter: drop-shadow(0.2rem 0.2rem 0.25rem $color-black);
      transition: all 0.5s;

      &:hover {
        transform: scale(1.045);
        background-color: $color-secondary;
      }
    }
  }
}

// USER DETAILS POPUP

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color-black, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: hidden;

  .span__rating {
    color: #fab005;
  }

  &__container {
    background: linear-gradient(
      125deg,
      lighten($color-secondary, 15%),
      lighten($color-primary, 0.5%),
      lighten($color-primary, 2.5%)
    );
    padding: $padding-big;
    box-shadow: 0 2rem 4rem 0 rgba($color-black, 0.4);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;

    &-header {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 3rem;
    }

    &-img {
      width: 25rem;
      z-index: 10;
      filter: drop-shadow(0.1rem 0.1rem 0.45rem $color-black);
    }

    &-details {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: start;
      justify-items: start;
      width: 92.5rem;
      height: 15rem;

      &-name,
      &-location,
      &-vacations,
      &-rating {
        font-size: $font-medium;
        font-weight: $font-semi-bold;
        letter-spacing: $letter-big;
        word-spacing: $word-small;
        color: $color-white;

        span {
          font-size: $font-semi;
          font-weight: $font-default;
          letter-spacing: $letter-medium;
          color: $color-gray;
          padding-left: $padding-extra-small;
        }
      }

      &-membership {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.65rem;
        font-size: $font-regular;
        color: $color-white;
        font-weight: $font-semi-bold;
        letter-spacing: $letter-medium;
        word-spacing: $word-medium;

        &-icon {
          font-size: $font-semi;
        }
      }
    }

    &-favorite {
      color: $color-white;
      font-size: $font-semi;
      letter-spacing: $letter-small;
      word-spacing: $word-small;
    }

    &-main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-items: center;
      width: 100%;
    }

    &-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 32.5rem;
      gap: 1rem;

      &-tour,
      &-location {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.45rem;
        color: $color-gray;
        font-size: $font-regular;
        letter-spacing: $letter-small;
      }

      &-icon {
        font-size: $font-medium;
        color: $color-white;
      }
    }
  }

  &__button {
    position: absolute;
    top: 9.5%;
    left: 0;
    font-size: $font-semi;
    letter-spacing: $letter-medium;
    word-spacing: $word-small;
    font-family: $font-serif;
    padding: $padding-extra-small $padding-big;
    cursor: pointer;
    z-index: 9999;
    border: none;
    outline: none;
    border-radius: $border-rounded-extra-small;
    filter: drop-shadow(0.1rem 0.1rem 0.25rem $color-black);
    background-color: $color-btn-primary;
    transition: all 0.5s;
    color: $color-white;
    font-weight: $font-default;

    &:hover {
      background-color: $color-secondary;
    }
  }
}

// NAV-LINKS

.nav__container-links-tours,
.nav__container-links-profile,
.nav__container-links-signout {
  @include nav-links;
}

// SCROLL-BAR

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background: $color-dark;
}

::-webkit-scrollbar-thumb {
  background: $color-primary;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-extra;
}

// FADE-IN ANIMATION DEFAULT

.fade-in {
  animation: fade-in 1.5s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// PROGRESS BAR STYLES

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: $color-primary;
  z-index: 10;
  transform-origin: 0%;
}

// MEDIA
// LAPTOPS

@media (max-width: 1580px) {
  .nav__container {
    &-username {
      font-size: $font-semi;
      word-spacing: $word-small;

      span {
        font-size: $font-regular;
      }
    }

    &-links {
      gap: 3.75rem;
    }
  }

  // USER DETAILS POPUP

  .overlay {
    &__container {
      padding: $padding-medium;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 2.5rem;

      &-header {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 2.5rem;
      }

      &-img {
        width: 22.5rem;
      }

      &-details {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        align-items: start;
        justify-items: start;
        width: 90rem;
        height: 11.5rem;

        &-name,
        &-location,
        &-vacations,
        &-rating {
          font-size: $font-semi;
          letter-spacing: $letter-medium;
          word-spacing: $word-small;

          span {
            font-size: 1.9rem;
            letter-spacing: $letter-small;
          }
        }

        &-membership {
          gap: 0.55rem;
          font-size: $font-regular;
          letter-spacing: $letter-medium;
          word-spacing: $word-small;

          &-icon {
            font-size: $font-semi;
          }
        }
      }

      &-favorite {
        color: $color-white;
        font-size: 1.9rem;
        letter-spacing: $letter-small;
        word-spacing: $word-small;
      }

      &-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        width: 100%;
      }

      &-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 27.5rem;
        gap: 1rem;

        &-tour,
        &-location {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.45rem;
          font-size: 1.45rem;
          letter-spacing: none;
        }

        &-icon {
          font-size: $font-semi;
        }
      }
    }

    &__button {
      top: 9.5%;
      font-size: 1.9rem;
      letter-spacing: $letter-small;
      word-spacing: $word-small;
    }
  }
}

// LAPTOPS/BIG TABLETS

@media (max-width: 1280px) {
  .nav__container {
    &-username {
      font-size: 1.8rem;
      font-weight: $font-semi-bold;
      letter-spacing: $letter-small;

      span {
        font-size: 1.45rem;
        font-weight: $font-semi-bold;
        letter-spacing: $letter-small;
      }
    }

    &-menu {
      display: none;
      margin-left: 20rem;
    }
  }

  .nav__container-menu {
    display: block;
  }

  .nav__container-links {
    display: none;
    position: relative;
  }

  .nav__container-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: $padding-big $padding-medium;
    width: 20rem;
    top: 7.55rem;
    right: 0;
    background-color: $color-secondary;
  }

  // USER DETAILS POPUP

  .overlay {
    &__container {
      padding: $padding-semi;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 2.25rem;

      &-header {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 2.25rem;
      }

      &-img {
        width: 20rem;
      }

      &-details {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        align-items: start;
        justify-items: start;
        width: 77.5rem;
        height: 10.25rem;

        &-name,
        &-location,
        &-vacations,
        &-rating {
          font-size: $font-semi;
          letter-spacing: $letter-medium;
          word-spacing: $word-small;

          span {
            font-size: 1.9rem;
            letter-spacing: $letter-small;
          }
        }

        &-membership {
          gap: 0.55rem;
          font-size: $font-regular;
          letter-spacing: $letter-medium;
          word-spacing: $word-small;

          &-icon {
            font-size: $font-semi;
          }
        }
      }

      &-favorite {
        color: $color-white;
        font-size: 1.9rem;
        letter-spacing: $letter-small;
        word-spacing: $word-small;
      }

      &-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        width: 100%;
      }

      &-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 27.5rem;
        gap: 1rem;

        &-tour,
        &-location {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.45rem;
          font-size: 1.45rem;
          letter-spacing: none;
        }

        &-icon {
          font-size: $font-semi;
        }
      }
    }

    &__button {
      top: 9.5%;
      font-size: 1.9rem;
      letter-spacing: $letter-small;
      word-spacing: $word-small;
    }
  }
}

// TABLETS

@media (max-width: 1024px) {
  .nav__container {
    &-username {
      font-size: 1.675rem;
      font-weight: $font-semi-bold;
      letter-spacing: $letter-small;

      span {
        font-size: 1.425rem;
        font-weight: $font-semi-bold;
        letter-spacing: $letter-small;
      }
    }

    &-menu {
      display: none;
      margin-left: 19rem;
    }
  }

  .nav__container-menu {
    display: block;
  }

  .nav__container-links {
    display: none;
    position: relative;
  }

  .nav__container-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: $padding-big $padding-medium;
    width: 20rem;
    top: 7.55rem;
    right: 0;
    background-color: $color-secondary;
  }

  .nav__container-links-tours,
  .nav__container-links-profile,
  .nav__container-links-signout {
    @include nav-links;
    font-size: 1.6rem;
  }

  .hero__container {
    &-about {
      flex: 0 0 40%;
      gap: 2.25rem;

      &-title {
        font-size: $font-big;

        span {
          font-size: $font-medium;
        }
      }

      &-subtitle {
        font-size: 2.15rem;

        span {
          font-size: 2rem;
        }
      }
    }

    &-cta {
      flex: 0 0 50%;
      gap: 4rem;

      &-button {
        width: 25rem;
        font-size: $font-semi;
      }
    }
  }
}

// TABLETS

@media (max-width: 968px) {
  .nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $padding-medium $padding-small;
    top: 1rem;
    position: sticky;
    z-index: 3;
    transition: all 0.5s ease-in-out;
    gap: 0;

    &-username {
      display: none;
    }

    &-menu {
      display: none;

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        color: $color-gray;
        font-size: 2.75rem;
        transition: color 0.35s;

        &:hover {
          color: $color-white;
        }
      }
    }
  }

  .nav__container-menu {
    display: block;
  }

  .nav__container-links {
    display: none;
    position: relative;
  }

  .nav__container-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: $padding-big $padding-medium;
    width: 20rem;
    top: 7.55rem;
    right: 0;
    background-color: $color-secondary;
  }

  .nav__container-links-tours,
  .nav__container-links-profile,
  .nav__container-links-signout {
    @include nav-links;
    font-size: 1.55rem;
  }

  .hero__container {
    &-about {
      flex: 0 0 20%;
      gap: 2.5rem;

      &-title {
        font-size: $font-medium;
        width: 22.5rem;

        span {
          font-size: $font-semi;
        }
      }

      &-subtitle {
        font-size: $font-semi;
        width: 27.5rem;

        span {
          font-size: 1.85rem;
        }
      }
    }

    &-cta {
      flex: 0 0 45%;
      flex-direction: column;
      gap: 3rem;

      &-button {
        width: 21.5rem;
        font-size: 1.65rem;
      }
    }
  }
}

// MOBILE

@media (max-width: 480px) {
  .nav__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding-medium $padding-small;
    top: 1rem;
    position: sticky;
    z-index: 3;
    transition: all 0.5s ease-in-out;

    &-username {
      display: none;
    }

    &-menu {
      display: none;

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        color: $color-gray;
        font-size: 2.75rem;
        transition: color 0.35s;

        &:hover {
          color: $color-white;
        }
      }
    }
  }

  .nav__container-menu {
    display: block;
  }

  .nav__container-links {
    display: none;
    position: relative;
  }

  .nav__container-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: $padding-big $padding-medium;
    width: 20rem;
    top: 7.55rem;
    right: 0;
    background-color: $color-secondary;
  }

  .nav__container-links-tours,
  .nav__container-links-profile,
  .nav__container-links-signout {
    @include nav-links;
    font-size: 1.55rem;
  }

  .hero__container {
    &-about {
      flex: 0 0 20%;
      gap: 2.5rem;

      &-title {
        font-size: $font-medium;
        width: 22.5rem;

        span {
          font-size: $font-semi;
        }
      }

      &-subtitle {
        font-size: $font-semi;
        width: 27.5rem;

        span {
          font-size: 1.85rem;
        }
      }
    }

    &-cta {
      flex: 0 0 45%;
      flex-direction: column;
      gap: 3rem;

      &-button {
        width: 21.5rem;
        font-size: 1.65rem;
      }
    }
  }

  // USER DETAILS POPUP

  .overlay {
    &__container {
      padding: $padding-semi;
      width: 27.5rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      &-header {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;
      }

      &-img {
        display: none;
      }

      &-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        width: 25rem;
        height: 13.5rem;

        &-name,
        &-location,
        &-vacations,
        &-rating {
          font-size: 1.6rem;
          letter-spacing: $letter-small;
          word-spacing: none;
          text-align: center;

          span {
            font-size: 1.4rem;
            letter-spacing: $letter-small;
          }
        }

        &-membership {
          gap: 0.5rem;
          font-size: 1.4rem;
          letter-spacing: $letter-small;
          word-spacing: none;

          &-icon {
            font-size: 1.6rem;
          }
        }
      }

      &-favorite {
        display: none;
      }

      &-main {
        display: none;
      }
    }

    &__button {
      top: 9.5%;
      font-size: 1.9rem;
      letter-spacing: $letter-small;
      word-spacing: $word-small;
    }
  }
}
