@import './index.scss';

@mixin input-button-styles($bg-color, $text-color) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $text-color;
  background-color: $bg-color;
  border-radius: $border-rounded-extra-small;
  width: 27.5rem;
  height: 4.5rem;
  padding: 0.4rem 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: $font-regular;
  letter-spacing: $letter-big;
  word-spacing: $word-small;
  font-weight: $font-semi-bold;
  font-family: $font-serif;
  filter: drop-shadow(0.2rem 0.2rem 0.75rem $color-black);
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-image: linear-gradient(
      to right bottom,
      $color-secondary,
      $color-primary
    );
    border-radius: 0;
  }
}

@mixin input-styles($caret-color) {
  width: 27.5rem;
  height: 2.9rem;
  color: lighten($color-primary, 17.5%);
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 0.3rem solid $color-primary;
  padding-left: $padding-extra-small;
  font-size: $font-regular;
  letter-spacing: $letter-medium;
  word-spacing: $word-medium;
  font-weight: $font-semi-bold;
  margin-bottom: $margin-medium;
  caret-color: lighten($color-primary, 17.5%);
}

@mixin nav-links() {
  text-decoration: none;
  border: none;
  outline: none;
  color: $color-gray;
  font-size: $font-semi;
  font-weight: $font-semi-bold;
  letter-spacing: $letter-small;
  position: relative;
  transition: color 0.35s;
  &:hover {
    color: $color-white;
  }
  &::after {
    content: '';
    display: block;
    background-color: $color-dark;
    position: absolute;
    height: 0.2rem;
    width: 0;
    bottom: -0.35rem;
    left: 0;
    transition: width 0.45s ease-in-out;
  }
  &:hover::after {
    width: 100%;
  }
}
